{
        "api": "http://{{ ansible_eth1.ipv4.address }}/api/v1/",
        "eventsUrl": "ws://{{ ansible_eth1.ipv4.address }}/events",
        "debug": "true",
        "publicRegisterEnabled": true,
        "feedbackEnabled": true,
        "privacyPolicyUrl": null,
        "termsOfServiceUrl": null,
        "GDPRUrl": null,
        "maxUploadFileSize": null,
        "contribPlugins": [],
        "gravatar": false
}
