{{ web1 }} web1.homelab.loc
{{ web2 }} web2.homelab.loc 
{{ web3 }} web3.homelab.loc
{{ pg1 }} pg1.homelab.loc
{{ pg2 }} pg2.homelab.loc 
{{ pg3 }} pg3.homelab.loc
{{ haproxy1 }} haproxy1.homelab.loc
{{ haproxy2 }} haproxy2.homelab.loc
{{ haproxy3 }} haproxy3.homelab.loc
{{ rabbitmq1 }} rabbitmq1.homelab.loc 
{{ rabbitmq2 }} rabbitmq2.homelab.loc 
{{ elk }} elk.homelab.loc
