{{ web1 }} web1.homelab
{{ web2 }} web2.homelab 
{{ web3 }} web3.homelab
{{ pg1 }} pg1.homelab
{{ pg2 }} pg2.homelab 
{{ pg3 }} pg3.homelab
{{ haproxy1 }} haproxy1.homelab
{{ haproxy2 }} haproxy2.homelab
{{ haproxy3 }} haproxy3.homelab
{{ rabbitmq1 }} rabbitmq1.homelab
{{ rabbitmq2 }} rabbitmq2.homelab
{{ rabbitmq3 }} rabbitmq3.homelab
{{ elk }} elk.homelab
