{{ web1 }} web1
{{ web2 }} web2 
{{ web3 }} web3
{{ pg1 }} pg1
{{ pg2 }} pg2 
{{ pg3 }} pg3
{{ haproxy1 }} haproxy1
{{ haproxy2 }} haproxy2
{{ haproxy3 }} haproxy3
{{ rabbitmq1 }} rabbitmq1
{{ elk }} elk
